@media only screen and (min-width: 320px) and (max-width: 567px)
    .container
        height: 100vh
        width: auto
        display: grid
        grid-template-columns: 1fr !important
        grid-template-rows: 100px 150px 60px 
        justify-content: center !important
        margin: 0 !important
        padding: 20px !important
        box-sizing: border-box
        .logo
            position: relative !important
            justify-self: center !important
            text-align: center
            margin: 0 !important
            padding: 0  !important
            margin-top: 20px !important
            width: 100%
        .introduction
            position: relative !important
            padding: 0 !important
            margin: 0 !important
            width: 90% !important
            font-size: .8rem
            margin-top: 20px !important
        .search-bar
            margin: 0 !important
            padding: 0 !important
            position: relative !important
            width: 70% !important
            transform: translateX(-55%) !important
        #output
            width: 100% !important
            position: relative !important
            grid-template-columns: 1fr !important
            padding: 0 !important
            margin: 0 !important
            margin-top: 100px !important
            .card
                width: 70%
                justify-self: center
            .card-title
                font-size: 1.1rem
                padding: 10px 20px
            .ingredients
                font-size: .8rem
            .instructions
                font-size: .8rem
                padding: 0 20px


@media only screen and (min-width: 568px)
    .container
        margin: 0 !important
        padding: 0 !important
        width: 100%
        height: 100vh
        display: grid
        grid-template-columns: 1fr !important
        grid-template-rows: 100px 190px 70px !important
        box-sizing: border-box
        .logo
            align-self: none !important
            width: 100% !important
            margin: 0 !important
            padding: 0 !important
            text-align: center
            margin-top: 40px !important
        .introduction
            position: relative
            width: 70% !important
        .search-bar
            position: relative
            width: 50% !important
        #output
            width: 100%
            padding: 0
            margin: 0
            margin-top: 40px
            grid-template-columns: 1fr 1fr !important
            grid-gap: 0
            .card
                margin: 30px
            .card-title
                font-size: 1.1rem
                padding: 10px 20px
            .ingredients
                font-size: .8rem
            .instructions
                font-size: .8rem
                padding: 0 20px



@media only screen and (min-width: 768px)
    .container
        width: 100%
        height: 100vh
        display: grid
        grid-template-rows: 100px 170px 70px
        padding: 0
        margin: 0
        justify-content: center
        .logo
            position: relative
            text-align: center
            margin: 40px 0
            a
                font-size: 4rem
        .introduction
            position: relative
            width: 60% !important
            font-size: 1rem
        .search-bar
            position: relative
            width: 50% !important
        #output
            width: 100%
            padding: 0
            margin: 0
            margin-top: 40px
            grid-template-columns: 1fr 1fr
            grid-gap: 0
            .card
                margin: 30px
            .card-title
                font-size: 1.3rem
                padding: 10px 20px
            .ingredients
                font-size: 1rem
            .instructions
                font-size: 1rem
                padding: 0 20px




@media only screen and (min-width: 1024px)
    .container
        width: 100% !important
        height: 100vh
        display: grid
        grid-template-rows: 100px 170px 70px
        justify-content: center
        margin: 0
        padding: 0
        box-sizing: border-box
        .logo
            position: relative
            margin-top: 40px
            text-align: center
        .introduction
            position: relative
            width: 50% !important
        .search-bar
            position: relative
            width: 40% !important
        #output
            width: 100%
            padding: 0
            margin: 0
            margin-top: 60px !important
            grid-template-columns: 1fr 1fr 1fr !important
            grid-gap: 0
            .card
                margin: 40px !important
                justify-self: center !important
            .card-title
                padding: 10px 20px
            .instructions
                padding: 0 20px