@media only screen and (min-width: 320px) and (max-width: 567px)
    .container
        display: grid
        justify-items: center
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh
        height: 100vh
        box-sizing: border-box
        .title
            padding: 0 !important
            margin: 0 !important
            font-size: 1.5rem
        .description
            padding: 0 !important
            margin: 0 !important
            width: 70%
            font-size: .8rem
        .cocktail-img
            padding: 0 !important
            margin: 0 !important
            text-align: center
            img
                width: 50%
        .btn-link
            padding: 0 !important
            margin: 0 !important
        .portfolio
            padding: 0 !important
            margin: 0 !important


@media only screen and (min-width: 568px) and (max-width: 767px)
    .container
        box-sizing: border-box
        display: grid !important
        justify-items: center
        grid-template-rows: repeat(5, auto) !important
        height: 100vh
        .title
            padding: 0 !important
            margin: 0 !important
            font-size: 1.5rem
        .description
            padding: 0 !important
            margin: 0 !important
            width: 70% !important
            font-size: 1rem
        .cocktail-img
            padding: 0 !important
            margin: 0 !important
            text-align-last: center
            img
                width: 40%
        .btn-link
            padding: 0 !important
            margin: 0 !important
        .portfolio
            padding: 0 !important
            margin: 0 !important
        

            
@media only screen and (min-width: 767px)
    .container
        box-sizing: border-box
        display: grid !important
        justify-items: center
        grid-template-rows: repeat(5, auto) !important
        height: 100vh
        .title
            padding: 0 !important
            margin: 0 !important
            font-size: 2rem
        .description
            padding: 0 !important
            margin: 0 !important
            width: 60% !important
            font-size: 1.3rem
        .cocktail-img
            padding: 0 !important
            margin: 0 !important
            text-align-last: center
            img
                width: 45%
                margin-top: -50px
        .btn-link
            padding: 0 !important
            margin: 0 !important
        .portfolio
            padding: 0 !important
            margin: 0 !important